{% extends 'emails/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Welcome!</h1>

                <p>Before you can sign in, you'll need to verify your email address.</p>
                <a class="btn btn-primary"
                   href="{{ url('verify_email', { 'token': token }) }}">
                    Verify It!
                </a>
            </div>
        </div>
    </div>
{% endblock %}
